.skills {
  display: flex;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.skillTitle {
  padding-top: 10px;
}

.skillIcons {
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.skillIcons:hover {
  color: rgb(219, 22, 22);
}
