.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 400px;
  max-width: 200px;
  margin: 10px;
}

.photo {
  display: flex;
}

.photo1 {
  height: 100%;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
}
