.app {
  display: flex;
  flex-direction: column;
  background-color: red;
}

.menu {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #f3d7cc94;
}

.center {
  display: flex;
}

.leftSide,
.rightSide {
  padding: 0px 20px;
}

.menuItem {
  display: flex;
  font-weight: 700;
  height: 20px;
  margin: 10px 20px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

.menuItem:hover {
  border-bottom: 3px solid #d7c1b3;
}

.content {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 40px;
  pointer-events: none;
}

a {
  color: black;
  text-decoration: none;
}

.siteTitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
