.app {
  /* position: fixed; */
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: auto;
}

.menu {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f3d7cc94;
}

.center {
  display: flex;
}

.leftSide,
.rightSide {
  padding: 0px 20px;
}

.menuItem {
  display: flex;
  font-weight: 700;
  height: 20px;
  margin: 10px 20px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

.menuItem:hover {
  border-bottom: 3px solid #d7c1b3;
}

.content {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 40px;
  pointer-events: none;
}

a {
  color: black;
  text-decoration: none;
}

.siteTitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3d7cc94;
  height: 80px;
}

@media all and (max-width: 780px) {
  .center {
    display: none;
  }

  .menu {
    justify-content: space-between;
  }
}
