.app {
  /* position: fixed; */
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 40px;
  pointer-events: none;
}

.siteTitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* background-color: #f3d7cc94; */
  background-color: #060b26;
  height: 80px;
}

@media all and (max-width: 780px) {
  .center {
    display: none;
  }

  .leftSide {
    opacity: 1;
    cursor: pointer;
  }

  .menu {
    justify-content: space-between;
  }
}
