.home {
  display: flex;
  flex-direction: column;
}

.topWrapper {
  display: flex;
}

.logoWrapper {
  display: flex;
  flex: 1;
  background-color: aquamarine;
  margin: 20px;
  height: 300px;
}

.slideShow {
  display: flex;
  flex: 2;
  background-color: beige;
  margin: 20px;
  height: 300px;
}
