.home {
  /* display: flex; */
  align-items: center;
  flex-direction: column;
}

.topWrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 20px;
  height: 400px;
}

.catalog {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.logoHome {
  width: 220px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialIcon {
  cursor: pointer;
  margin: 6px;
}

.shopNowBtn {
  cursor: pointer;
  background-color: #7f3a1fbf;
  color: white;
  border: none;
  border-radius: 4px;
  height: 26px;
  width: 100px;
  margin: 26px;
}

@media all and (max-width: 1000px) {
  .topWrapper {
    flex-direction: column;
  }
}
